{% load static %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link href="/media/favicon.png" rel="icon" type="image/png"/>
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<title>{% block title %} {% endblock title %}</title>

	<!-- Bootstrap CSS -->
	<link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
	<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

	<!-- <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono&display=swap" rel="stylesheet"> -->
	<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">

	<link href="{% static 'musicapp/css/musicplayer.css' %}" rel="stylesheet">
	{% block header %} {% endblock header %}

</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<h1><a class="navbar-brand" href="{% url 'index' %}">
			<strong style="color:white">Sangeet</strong></a></h1>
		<div class="collapse navbar-collapse">
			<a class="btn btn-outline-light mt-2 mx-1" href="{% url 'index' %}">HOME</a>
			<a class="btn btn-outline-light mt-2 mx-1" href="{% url 'all_songs' %}">ALL SONGS</a>
			{% if request.user.is_active %}

			<div class="btn-group mt-2 mx-1">
				<a class="btn btn-outline-light" href="{% url 'mymusic' %}" type="button">MY MUSIC</a>
				<button aria-expanded="false" aria-haspopup="true" class="btn btn-light dropdown-toggle dropdown-toggle-split"
						data-toggle="dropdown" type="button">
					<span class="sr-only">Toggle Dropdown</span>
				</button>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="{% url 'playlist' %}">Playlists</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{% url 'favourite' %}">Favourite Songs</a>
				</div>
			</div>
			{% endif %}
		</div>

		<div class="collapse navbar-collapse justify-content-end" id="navbar">
			{% if request.user.is_active %}
			<h5 class="text-white mt-3 mx-2">Hi, {{ request.user.username }}</h5>
			<a class="btn btn-light mt-2 mx-2" href="{% url 'logout' %}"> Sign Out <i aria-hidden="true"
																					  class="fa fa-sign-out"></i></a>
			{% else %}
			<a class="btn btn-light mt-2 mx-2" href="{% url 'login' %}"><i aria-hidden="true" class="fa fa-sign-in"></i>
				Sign In</a>
			<a class="btn btn-light mt-2 mx-2" href="{% url 'signup' %}"><i aria-hidden="true"
																			class="fa fa-user-plus"></i> Sign Up</a>
			{% endif %}
		</div>
	</div>

</nav>


{% block body %}
{% endblock body %}

<div class="content">
	<div class="lyrics"></div>
</div>

<br>
<br>
<br>

<!-- jQuery first, then Bootstrap JS -->
<script crossorigin="anonymous"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script crossorigin="anonymous"
		integrity="sha512-HYG9E+RmbXS7oy529Nk8byKFw5jqM3R1zzvoV2JnltsIGkK/AhZSzciYCNxDMOXEbYO9w6MJ6SpuYgm5PJPpeQ=="
		src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/16.1.3/smooth-scroll.min.js"></script>
{% block js %} {% endblock js %}
<footer class="flex-shrink-0 py-4 bg-dark text-white" id="sticky-footer">
	<div class="container text-center">
		<small>Copyright &copy; Stunner007</small>
	</div>
</footer>
</body>
</html>